<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线合并单元格</title>
    <style>
        label{display:flex;  }
        pre{white-space: pre-line;}
        td[data-selected='true']{background:rgb(206, 202, 253)  }
    </style>
</head>
<body>
    <div id="app">
        <pre>
            双击表格可以修改内容 !
            修改表格会自动保存 !
        </pre>

        <label>
            <span>行数(1-100)</span>
            <input type="text" type="number" :value="row" @change="update('row',$event.target.value)">
        </label>
        <label>
            <span>列数(1-100)</span>
            <input type="text" type="number" :value="column" @change="update('column',$event.target.value)">
        </label>

        <br>

        <div>
            <button @click="init">重新生成表格</button>
            <button @click="join">合并</button>
            <button @click="split">拆分</button>
            <button @click="copy">复制html代码</button>
        </div>

        <br>

        <table border="1" cellpadding="8" cellspacing="0" ref="tableElement">
            <tbody>
                <tr v-for="cells in rows">
                    <template v-for="cell in cells.filter(_cell=>_cell.hidden == false)">
                        <td
                            v-if="cell.rowspan != 1 || cell.colspan !=1 "
                            :rowspan="cell.rowspan"
                            :colspan="cell.colspan"

                            :data-selected="cell.selected"
                            @click="click_td(cell)"
                            @dblclick="edit(cell)"
                        >{{ cell.text }}</td>
                        <td 
                            v-else
                            :data-selected="cell.selected"
                            @click="click_td(cell)"
                            @dblclick="edit(cell)"
                        >{{ cell.text }}</td>
                    </template>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
    <script>
        class Cell{
            rowIndex = 0
            columnIndex = 0
            rowspan = 1
            colspan = 1
            text = ''

            selected = false
            hidden = false

            constructor(rowIndex,columnIndex){
                this.rowIndex = rowIndex
                this.columnIndex = columnIndex
                this.text = `${rowIndex},${columnIndex}`
            }
        }

        window.app = Vue.createApp({
            setup(){
                return {
                    tableElement : Vue.ref()
                }
            },
            data() {
                return {
                    row : 5,
                    column : 5,
                    rows : [],
                }
            },
            methods : {
                update(key,value){
                    let oldValue = this[key]
                    let _value = parseInt(value)
                    if(_value){
                        if(_value < 1){
                            _value = 1
                        }
                        else if(_value>100){
                            _value = 100
                        }
                        this[key] = ''
                        this[key] = _value
                        return
                    }
                    this[key] = ''
                    this[key] = oldValue
                },
                click_th(columnIndex){

                },
                click_td(cell){
                    cell.selected = !cell.selected
                },
                edit(cell){
                    const newText = prompt('修改信息' , cell.text)
                    if( typeof newText == 'string' ){
                        cell.text = newText
                    }
                    this.cache()
                },
                cache(){
                    localStorage.setItem('cache_table_cells',JSON.stringify(this.rows))
                },
                copy(){
                    const tableElement = this.tableElement.cloneNode(true)

                    const elements = getChildrens(tableElement)
                    elements.forEach((el)=>{
                        el.removeAttribute('class')
                        el.removeAttribute('data-selected')
                    })

                    console.log( exportHtml( tableElement ) );
                    copyText( exportHtml( tableElement ) )
                    alert('已复制')
                },
                join(){

                    const rows = this.rows.map((cells)=>{
                        const selectedCells = cells.filter(cell=>cell.selected)
                        if( selectedCells.length > 0 ){
                            return selectedCells
                        }
                        return null
                    })
                    .filter(cells => cells !=null )

                    const startCell = rows[0][0]
                    const endCell = rows[rows.length -1][rows.length -1]

                    startCell.colspan = rows[0].length
                    startCell.rowspan = rows.length

                    rows.forEach((cells)=>{
                        cells.forEach((cell)=>{
                            cell.selected = false

                            if( cell != startCell ){
                                cell.hidden = true
                            }
                        })
                    })

                    this.cache()
                },
                split(){

                    const rows = []
                    this.rows.forEach((cells)=>{
                        rows.push(...cells.filter(cell=>cell.selected).map((cell)=>{
                            return {
                                cell : cell,
                                cells : cells
                            }
                        }))
                    })

                    rows.forEach(({ cell , cells })=>{

                        for(let row = 0 ; row< cell.rowspan ;row++){
                            for(let column = 0 ; column< cell.colspan ;column++){
                                this.rows[row  + cell.rowIndex][ column  + cell.columnIndex ].hidden = false
                            }
                        }

                        cell.rowspan = 1
                        cell.colspan = 1
                        cell.selected = false
                    })
                },
                createRows(row,column , _rowIndex=0 , _columnIndex=0){
                    const rows = []
                    for (let rowIndex = 0; rowIndex < row ; rowIndex++) {
                        const cells = []
                        for (let columnIndex = 0; columnIndex < column ; columnIndex++) {
                            const cell = new Cell(rowIndex+_rowIndex , columnIndex+_columnIndex)
                            cells.push(cell)
                        }
                        rows.push(cells)
                    }
                    return rows
                },
                init(){
                    this.rows = this.createRows(this.row , this.column)
                    this.cache()
                }
            },
            mounted(){
                const cachedRows = localStorage.getItem('cache_table_cells')
                if( cachedRows ){
                    this.rows = JSON.parse(cachedRows)
                }
                else{
                    this.init()
                }
            }
        })
        .mount('#app')




        function getChildrens( data , level = Infinity ){
            const _data = Array.isArray(data) ? data : [data]
            const result = []
            _data.forEach((item)=>{
                if( item.children && item.children.length){
                    result.push(...item.children)
                    if(level>0){
                        [...item.children].forEach((_item )=>{
                            if(_item.children && _item.children.length){
                                result.push( ...getChildrens(_item , level -1 ))
                            }
                        })
                    }
                }
            })
            return result
        }


        function exportHtml(el,lineBefore=''){
            const attrsText = [...el.attributes].map(attr=>{
                return `${attr.localName}="${ attr.value.replaceAll('"','&quot;') }"`
            }).join(' ')

            const children = [...el.children]
            const childrenTexts = []
            if( children.length > 0 ){
                childrenTexts.push(...children.map((el)=>{
                    return exportHtml(el,lineBefore+'    ')
                }))
            }

            return `${lineBefore}<${ el.localName }${attrsText ? ' '+attrsText :''}>${
                childrenTexts.length > 0 ? '\n'+childrenTexts.join('\n')+'\n'+lineBefore : el.innerText
            }</${ el.localName }>`
        }
                
        function copyText(text) {
            const _text = text.toString()
            const textarea = document.createElement('textarea')
            textarea.style.cssText = 'position:fixed !important;  top:0 !important;  left:0 !important;  opacity:0 !important;  pointer-events:none !important;  '
            textarea.value = _text
            document.body.appendChild(textarea)
            textarea.select()
            textarea.setSelectionRange(0, _text.length )
            document.execCommand('copy')
            document.body.removeChild(textarea)
        }

    </script>
</body>
</html>